<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fraud Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap332-min.css') }}">
    <script src='{{ url_for('static', filename='Chart.min.js') }}'></script>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Fraud Detection</div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/fraud/train">Experiment</a></li>
          <li><a href="/fraud/trend">Trend</a></li>
        </ul>
      </div>

    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>